<a href="https://colab.research.google.com/github/ricardo-oberdan/jupyter-notebooks/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import numpy as np

# How to read tabular data file into pandas

In [0]:
#pd.read_table('dir/file.csv')
orders = pd.read_table('http://bit.ly/chiporders')
orders.head()

In [0]:
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('http://bit.ly/movieusers', sep='|', header=None, names=user_cols)
users.head()

In [0]:
users.tail()

# How to select a pandas Series from a DataFrame

In [0]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [0]:
type(ufo)

In [0]:
ufo.head()

In [21]:
type(ufo['City'])
# ufo['City']
# ufo.City

pandas.core.series.Series

In [0]:
ufo['Colors Reported']
# ufo.Colors Reported não funcionará

In [0]:
ufo['Location'] = ufo.City + ', ' + ufo.State
# Necessita bracket notation para criar nova coluna no dataframe

In [0]:
ufo.head()

# Métodos e Atributos

In [0]:
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

In [0]:
movies.describe()

In [33]:
movies.shape
# conta numero de linhas e colunas

(979, 6)

In [0]:
movies.dtypes

In [0]:
movies.describe(include=['object'])

# Renomeando colunas no Dataframe

In [58]:
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head()

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [39]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [0]:
ufo.rename(columns={'Colors Reported': 'Colors_Reported', 'Shape Reported': 'Shape_Reported'}, inplace=True)
# Renomear as colunas que eu quero baseada num dicionário
ufo.columns

In [0]:
# renomear todas as colunas baseado num array
ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo.columns = ufo_cols
ufo.head()

In [0]:
# renomeando enquanto importa
ufo = pd.read_csv('http://bit.ly/uforeports', names=ufo_cols, header=0)

In [0]:
ufo.head()

In [0]:
ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns

# Removendo colunas do DataFrame

In [0]:
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head()

In [51]:
ufo.shape

(18241, 5)

In [0]:
ufo.drop('Colors Reported', axis=1, inplace=True)
# Axis = 1 é a forma de dizer ao pandas que quero remover uma coluna
ufo.head()

In [0]:
# Removendo duas colunas ao mesmo tempo
ufo.drop(['City', 'State'], axis=1, inplace=True)
ufo.head()

In [0]:
# Removendo linha no lugar de coluna, usando axis=0
# Neste caso estou removendo as duas primeiras linhas, para isso usa-se o label (index)
ufo.drop([0, 1], axis=0, inplace=True)
ufo.head()

# Ordenando no DataFrame ou Series

In [0]:
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

In [0]:
movies.title.sort_values()
# movies['title'].sort_values()
# Retorna um Series apenas com os titulos dos filmes do dataframe importado

In [0]:
movies['title'].sort_values(ascending=False)

In [0]:
# Ordenando o dataframe com base no series
# ordenarei o dataframe pelo titulo
movies.sort_values('title')

In [0]:
movies.sort_values('duration', ascending=False)

In [0]:
# a ordenação em si não muda o dataframe original, pois não fiz inline=true
movies.head()

In [0]:
# ordenando por duas colunas
movies.sort_values(['content_rating', 'star_rating'], ascending= [True, False])

# Filtrando um DataFrame

In [0]:
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

In [0]:
movies.shape

In [0]:
# Filtrando apenas se a duração tem pelo menos 200
# Primeiro para entender o processo, vamos fazer com loop
booleans = []
for len in movies.duration:
  if len >= 200:
    booleans.append(True)
  else:
    booleans.append(False)
#Vendo apenas os 10 primeiros elementos do array    
booleans[0:10]

In [0]:
# Convertendo esse array num Series
is_long = pd.Series(booleans)
is_long.head()

In [0]:
# Filtrando apenas filmes, baseados nos Trues e Falses do Series
movies[is_long]

In [0]:
# Usando o método simplificado
movies[movies.duration >= 200]

In [0]:
# Alem de filtrar, quero ordenar também
movies[movies.duration >= 200].sort_values('duration', ascending=True)

In [0]:
# Pegando apenas os nomes dos filmes com genero Ação
movies[movies.genre == 'Action']['title']

In [0]:
# Outra maneira
movies.loc[movies.genre == 'Action', 'title']

In [0]:
# Filtrando por mais de um critério
# Quero os filmes com duração >= 200 E gênero = Drama
movies[(movies.duration >= 200) & (movies.genre == 'Drama')]

In [0]:
# Quero os filmes com duração >= 200 OU gênero = Drama
movies[(movies.duration >= 200) | (movies.genre == 'Drama')]

In [0]:
# Quero todos os filmes com duração maior que 200 com gênero Drama ou Crime
movies[(movies.duration >=200) & (movies.genre.isin(['Drama', 'Crime']))]

# Importando colunas ou linhas no DataFrame

In [14]:
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [15]:
# importarei do csv apenas as colunas cidade, estado e tempo
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=['City', 'State', 'Time'])
ufo.columns

Index(['City', 'State', 'Time'], dtype='object')

In [16]:
# importarei do csv apenas as colunas cidade, estado e tempo
# Agora referenciando as colunas por posição
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=[0,3,4])
ufo.columns

Index(['City', 'State', 'Time'], dtype='object')

In [0]:
# Importando apenas as três primeiras linhas
ufo = pd.read_csv('http://bit.ly/uforeports', nrows=3)
ufo

In [0]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.dtypes

In [0]:
drinks.head()

In [0]:
drinks.select_dtypes(include=[np.number]).dtypes

# Iterando

In [0]:
ufo = pd.read_csv('http://bit.ly/uforeports', nrows=5)
for c in ufo.City:
  print(c)

In [0]:
for index, row in ufo.iterrows():
  print(index, row.City, row.State)

# Usando parâmetro "axis" em pandas

In [0]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

In [0]:
# Remove coluna continent
# axis = 1 para remover as colunas
# não usei inline então não alterei o DataFrame original
drinks.drop('continent', axis=1).head()

In [0]:
# Remove a segunda linha
# axis = 0 para remover as linhas
# não usei inline então não alterei o DataFrame original
drinks.drop(2, axis=0).head()

In [0]:
# Pegando média para cada Series do DataFrame
drinks.mean()

In [0]:
# Mesmo que o anterior, porém deixando explicito que estou pegando a media de cada coluna
drinks.mean(axis=0)

In [0]:
# Ou
drinks.mean(axis='index')

In [0]:
# agora pegando a media dos valores numericos de cada linha
drinks.mean(axis=1).head()

In [0]:
# ou
drinks.mean(axis='columns').head()

# Usando métodos de Strings

In [0]:
orders = pd.read_table('http://bit.ly/chiporders')
orders.head()

In [0]:
# Usando metodo Upper da classe string
orders.item_name.str.upper()

In [0]:
# Usando metodo contains para filtrar
orders[orders.item_name.str.contains('Chicken')]

In [0]:
# Removendo colchetes da coluna "choice_description"
orders.choice_description.str.replace('[', '').str.replace(']', '')

In [0]:
# Removendo colchetes da coluna "choice_description", usando expressão regular
orders.choice_description.str.replace('[\[\]]', '')

# Alterando tipo de dados do DataFrame

In [0]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

In [0]:
drinks.dtypes

In [0]:
# Converter beer_servings de int para float
drinks['beer_servings'] = drinks.beer_servings.astype(float)
drinks.dtypes

In [0]:
# Alterando tipo de dados do DataFrame antes de ler o csv
drinks = pd.read_csv('http://bit.ly/drinksbycountry', dtype={'beer_servings': float})
drinks.dtypes

In [0]:
orders = pd.read_table('http://bit.ly/chiporders')
orders.dtypes

In [0]:
# convertendo item_price de object(str) para valor numerico
orders.item_price = orders.item_price.str.replace('$','').astype(float)
orders.dtypes

In [0]:
orders.item_price.head().mean()

# Agrupando

In [0]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

In [0]:
# Media de consumo de cerveja (de todos os paises)
drinks.beer_servings.mean()

In [0]:
# Tirando a média por continente
drinks.groupby('continent').beer_servings.mean()

In [0]:
# Triando a média de um dos continentes usando filtro
drinks[drinks.continent=='Africa'].beer_servings.mean()

In [0]:
# Maior consumo de bebida por continente
drinks.groupby('continent').beer_servings.max()

In [0]:
# Varias funções de agregação na mesma consulta
drinks.groupby('continent').beer_servings.agg(['count', 'min', 'max', 'mean', 'sum'])

In [0]:
# Calculando a media de todas as colunas 
drinks.groupby('continent').mean()

# Gerando um gráfico simples de barras

In [0]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [0]:
%matplotlib inline

In [0]:
drinks.groupby('continent').mean().plot(kind='bar')